<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="web, html, css, javascript, js, java, python">
    <meta name="description" content="World best web development tutorials">
    <meta name="author" content="IJSE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orients POS Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="Style1.css">
</head>
<body>
<div class="container-fluid h-100">
    <div class="row h-100">


        <div class="col-md-6 left-panel d-none d-md-flex text-center">
            <img src="../assets/junk%20food.png" alt="foods">
            <h2 class="mt-4">Orients POS System</h2>
            <div class="divider d-flex align-items-center justify-content-center my-3">
                <hr class="flex-grow-1">
                <span><i class="bi bi-bell-fill"></i></span>
                <hr class="flex-grow-1">
            </div>

            <p class="tagline">"Your Choice is First"</p>

            <div class="features d-flex justify-content-center mt-4 gap-4 text-center">

                <div>
                    <i class="bi bi-basket fs-3"></i>
                    <p class="small">Easy Ordering</p>
                </div>

                <div>
                    <i class="bi bi-receipt fs-3"></i>
                    <p class="small">Manage Orders</p>
                </div>

                <div>
                    <i class="bi bi-bar-chart fs-3"></i>
                    <p class="small">Sales Reports</p>
                </div>

                <div>
                    <i class="bi bi-people fs-3"></i>
                    <p class="small">Customers</p>
                </div>

            </div>
        </div>



        <div class="col-md-6 right-panel">
            <div class="login-card">

                <div class="login-icon mb-3">
                    <i class="bi bi-person"></i>
                </div>

                <h3 class="text-center mb-3">Login</h3>
                <p class="text-center text-muted">Welcome back! Please sign in to continue.</p>

                <form id="loginForm">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" id="username" class="form-control" placeholder="Enter your username">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" id="password" class="form-control" placeholder="Password">
                        <span class="input-group-text">
                      <i id="togglePassword" class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <input type="checkbox"> Remember me
                        </div>
                        <a href="#" class="text-success">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn btn-login w-100">
                        <i class="bi bi-box-arrow-in-right"></i> Sign In
                    </button>
                </form>

                <div class="footer-text">
                    © 2026 <span>Orients Restaurant.</span> All rights reserved.
                </div>

            </div>
        </div>

    </div>
</div>


<script src="/assets/lib/jquery-4.0.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../controller/LoginController.js"></script>
<script src="login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>