<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="web, html, css, javascript, js, java, python">
    <meta name="description" content="World best web development tutorials">
    <meta name="author" content="IJSE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orients POS System</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="Style2.css">
</head>
<body>

<div class="container-fluid">
    <div class="row vh-100">


        <div class="col-md-3 col-lg-2 bg-success text-white p-3 d-flex flex-column">

            <div class="text-center">
                <img src="../assets/junk%20food.png" class="img-fluid mb-2" style="max-height:120px;">
                <h5>Orients POS System</h5>
            </div>

            <div class="mt-4 flex-grow-1">
                <button id="dashboardBtn" class="btn btn-dark w-100 mb-2">Dashboard</button>
                <button id="customerBtn" class="btn btn-dark w-100 mb-2">Customer</button>
                <button id="itemBtn" class="btn btn-dark w-100 mb-2">Item</button>
                <button id="orderBtn" class="btn btn-dark w-100 mb-2">Order</button>
                <button id="historyBtn" class="btn btn-dark w-100 mb-2">Order History</button>
            </div>

            <button id="logoutBtn" class="btn btn-danger w-100 mt-auto">
                Log out <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>


        <div class="col-md-9 col-lg-10 bg-light p-4">


            <section id="dashboard-content">

                <div class="light-green-box text-white p-4 rounded mb-4">
                    <h2>Your Choice is First.</h2>
                    <p>Orients restaurant - Gampaha</p>
                </div>

                <div class="row g-4">

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/cheese%20burger.jpg" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                Cheese Burger <br> Rs.130
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/veggi%20burger.jfif" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                Veggie Burger <br> Rs.150
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/mushroom-burger.jpg" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                Mushroom Burger <br> Rs.160
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/primetime%20burger.jpg" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                Primetime Burger <br> Rs.120
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/french%20fries.webp" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                French Fries <br> Rs.100
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card food-card text-center">
                            <img src="../assets/potato%20gems.jfif" class="card-img-top">
                            <div class="card-body bg-dark text-white rounded-bottom">
                                Potato Gems <br> Rs.110
                            </div>
                        </div>
                    </div>

                </div>



            </section>


            <section id="customer-content" style="display:none;">

                <div class="container">

                    <div class="title-box">
                        Customer Management
                    </div>

                    <div class="form-card mb-4">

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="customer_id_input" class="form-label">Customer ID</label>
                                <input type="number" class="form-control" id="customer_id_input">
                            </div>

                            <div class="col-md-6">
                                <label  for="customer_nic_input" class="form-label">NIC</label>
                                <input type="text" class="form-control" id="customer_nic_input">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="customer_name_input" class="form-label">Name</label>
                                <input type="text" class="form-control" id="customer_name_input">
                            </div>

                            <div class="col-md-6">
                                <label for="customer_contact_input" class="form-label">Contact No.</label>
                                <input type="text" class="form-control" id="customer_contact_input">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label for="customer_address_input" class="form-label">Address</label>
                                <input type="text" class="form-control" id="customer_address_input">
                            </div>
                        </div>

                        <div  class="d-flex justify-content-end gap-2 mt-3">
                            <button type="button" id="customer_save_btn" class="btn btn-success me-2">Save</button>
                            <button type="button" id="customer_update_btn" class="btn btn-primary me-2">Update</button>
                            <button type="button" id="customer_delete_btn" class="btn btn-danger me-2">Delete</button>
                            <button type="reset" id="customer_reset_btn" class="btn btn-secondary">Reset</button>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>NIC</th>
                                <th>Contact No.</th>
                            </tr>
                            </thead>
                            <tbody id="customer_tbody">

                            </tbody>
                        </table>
                    </div>

                </div>

            </section>

            <section id="item-content">
               <div class="item-container">
                   <div class="header">
                       <h2>Item Management</h2>
                       <button type="button" class="add-btn">+ Add Item</button>
                   </div>

                   <div class="card-container"></div>

                   <table>
                       <thead>
                       <tr>
                           <th>Code</th>
                           <th>Name</th>
                           <th>Unit Price</th>
                           <th>Stock Qty</th>
                       </tr>
                       </thead>
                       <tbody id="item_tbody"></tbody>
                   </table>
               </div>

                <div class="modal" id="modal">
                    <div class="modal-content">
                        <span class="close">X</span>
                        <h3>Add / Edit Item</h3>

                        <input type="hidden" id="index">

                        <label for="item-code-input" class="form-label">Code</label>
                        <input type="text"  class="form-control" id="item-code-input">

                        <label for="item-name-input" class="form-label">Name</label>
                        <input type="text" class="form-control" id="item-name-input">

                        <label for="item-price-input" class="form-label">Unit Price</label>
                        <input type="text" class="form-control" id="item-price-input">

                        <label for="item-qty-input" class="form-label">Stock Qty</label>
                        <input type="number" class="form-control" id="item-qty-input">

                        <div class="modal-buttons">
                            <button type="button" id="item_save_btn" class="btn btn-primary">Save</button>
                            <button type="button" id="item_reset_btn" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </div>
            </section>

            <section id="order-content">
                <div class="order-wrapper mt-4">

                    <div class="text-center mb-3">
                        <span class="order-title">Place Order</span>
                    </div>

                    <div class="order-card">
                        <div class="row">
                            <div class="col">
                                <label for="customerDropdownBtn" class="form-label">Customer Id</label>

                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle w-100"
                                            type="button"
                                            id="customerDropdownBtn"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        Select Customer
                                    </button>

                                    <ul class="dropdown-menu w-100"
                                        id="customerDropdownMenu">
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <label for="customerName" class="form-label">Customer Name</label>
                                <input id="customerName" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label for="customerAddress" class="form-label">Customer Address</label>
                                <input id="customerAddress" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label for="customerNIC" class="form-label">Customer NIC</label>
                                <input id="customerNIC" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label for="customerContact" class="form-label">Customer Contact</label>
                                <input id="customerContact" class="form-control" readonly></div>
                        </div>
                    </div>

                    <div class="order-card">
                        <div class="row">
                            <div class="col">
                                <label for="itemDropdownBtn" class="form-label">Item Code</label>

                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle w-100"
                                            type="button"
                                            id="itemDropdownBtn"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        Select Item
                                    </button>

                                    <ul class="dropdown-menu w-100"
                                        id="itemDropdownMenu">
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <label for="itemName" class="form-label">Item Name</label>
                                <input id="itemName" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label for="price" class="form-label">Unit Price</label>
                                <input id="price" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label for="availableQty" class="form-label">Available Qty</label>
                                <input id="availableQty" type="number" class="form-control" readonly>
                            </div>

                            <div class="col-md-2">
                                <label for="qty" class="form-label">Qty</label>
                                <input id="qty" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="text-end mt-2">
                            <button id="resetItemBtn" class="btn btn-secondary">Reset</button>
                            <button id="addBtn" class="btn btn-primary">+ Add to Cart</button>
                        </div>
                    </div>

                    <div class="order-card">
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="cartTable"></tbody>
                        </table>

                        <div class="d-flex justify-content-between">
                            <span class="total-text">Total: LKR<span id="total">0</span></span>

                            <div class="d-flex gap-2">
                                <button id="resetCartBtn" class="btn btn-secondary">Reset</button>
                                <button id="placeOrderBtn" class="btn btn-success">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="history-content">

                <div class="container">

                    <div class="text-center mb-3">
                        <span class="history-title">Order history</span>
                    </div>

                    <table class="table table-bordered table-hover text-center">
                        <thead class="table-dark">
                        <tr>
                            <th>Order Id</th>
                            <th>Customer Name</th>
                            <th>Items</th>
                            <th>Total Qty</th>
                            <th>Total Price</th>
                            <th>Order Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody id="historyTableBody"></tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<script src="../controller/SidebarController.js"></script>
<script type="module" src="../controller/CustomerController.js"></script>
<script type="module" src="../controller/ItemController.js"></script>
<script type="module" src="../controller/OrderController.js"></script>
<script type="module" src="../controller/OrderHistoryController.js"></script>
</body>
</html>









